<p [style.color]="'green'">hello world {{title}}</p>

<!-- <app-card [imagePath]="'https://img.remediosdigitales.com/de1542/lamborghini-huracan_evo-2019-1280-01/1366_2000.jpg'"
  [description]="'Esta es una descripción'"></app-card>
<app-card [imagePath]="dato.url" description="{{dato.descripcion}}"></app-card> -->

<ng-container *ngFor="let card of cards; let index = index">
  <!-- <ng-container *ngIf="index !== 0"> -->
    <app-card [precio]="card.precio" [id]="index" [imagePath]="card.url" [description]="card.descripcion"></app-card>
  <!-- </ng-container> -->
</ng-container>